.container{
    height: 60px;
    background-color: skyblue;
    display: -webkit-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.container.logo{
    max-width: 250;
    padding: 0 10px;
    overflow: hidden;
}
.container .logo img{
    margin-left: 2em;
    border: 50% solid #000000 !important;
    width: 45px;
    border-radius: 50%;
    transform: rotate(-180deg)
}
.container ul {
    margin-left: 2em;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color:skyblue;
  }
.container li {
    float: left;
  }
.container li  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.container li a:hover{
      background-color: red;
  }
  .active{
    background-color: #666;
  }
  .bg{
      background-color: thistle;
      overflow: auto;
      text-align: center;
      color: white;
      font-size: 20px;
  }
  .profile{
      width: 450px;
      background: rgba(0, 0, 0, 0.4);
      margin-top: 2%;
      color: white;
      border-radius: 10px;
      padding-bottom: 1em;
      margin: auto;
      margin-top: 1em;
      margin-bottom: 1em;
  }
  .profile img{
    margin-top: 1em;
    border: 50% solid #000000 !important;
    width: 50%;
    border-radius: 50%;
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .rotating {
    animation: rotating 2s linear infinite;
  }